@import "tailwindcss";

@theme {
  --font-display: Muli, "Inter", sans-serif;
  --spacing: 0.25rem;
}

:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-display);
  font-size: 16px;
  line-height: 1.5;
}

@keyframes clickhand {
  0%, 100% { transform: scale(1);}
  50% { transform: scale(1.2);}
}
.animate-clickhand {
  animation: clickhand 1s infinite;
}

.animate-fadeInPopup {
  animation: fadeInPopup 400ms forwards 400ms;
}

@keyframes fadeInPopup {
  0% {
    opacity: 0;
    transform: scale(0.7);
  }
  60% {
    opacity: 1;
    transform: scale(1.1);
  }
  100% {    
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fadeInBackground {
  animation: fadeInBackground 400ms forwards 300ms;
}

@keyframes fadeInBackground {
  0% {
    opacity: 0;
  }
  100% {    
    opacity: 85%;
  }
}