@import "tailwindcss";

@theme {
  --font-display: Muli, "Inter", sans-serif;
  --spacing: 0.25rem;
}

:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-display);
  font-size: 16px;
  line-height: 1.5;
}

@keyframes clickhand {
  0%, 100% { transform: scale(1);}
  50% { transform: scale(1.2);}
}
.animate-clickhand {
  animation: clickhand 1s infinite;
}