@import "tailwindcss";

@theme {
  --font-display: Muli, "Inter", sans-serif;
  --spacing: 0.25rem;
}

:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-display);
  font-size: 16px;
  line-height: 1.5;
}
